node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
.history/
.env
backups/*

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
/playwright/screenshots/

.env.backup

